<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibMVC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mvc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F586C5962282027000EBA874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F586C59E2282027100EBA874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C55139227EB76300CC7EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C5514D227EB76900CC7EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
